/* .home {
    color: yellow;
    font-size: 40px;
    font-weight: 900;
    
    flex: 1 2 80%;
   background-color: teal;
  

} */
/* #app{
    display: flex;
    flex-flow: row;
    
} */
.no-display{
display: none !important;
}

.show-display{
    display: block !important;
}

body{
    /* font-family: Montserrat; */
    margin: 0 !important;
}

.container{
    /* overflow-y:  scroll; */
}

@media screen and (max-width: 1000px) {
.main-navigation {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin: 20px -40px 0;
}
.main-navigation {
    margin: 45px -40px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}

}