
html, body {
    height: 100%;
  }
/* .home {
    color: yellow;
    font-size: 40px;
    font-weight: 900;
    
    flex: 1 2 80%;
   background-color: teal;
  

} */
#app{
   height: 100%;
    
}
.app-grid{
    height: inherit !important;
   
}
.home-tagline{
    margin-top: 20%;
    

}

.tagline{
    color: white !important;
}

.barIcon{
    float: right !important;
    padding-right: 35px !important;
}

.home-tagline-button{
    margin-top: 5%;
   

}

.home-my-offer-button{
    margin-left:  20px !important;
}
.app-grid-row {
    padding: 0 !important;
}

.tech-tile{
    margin: 5px !important;
}

.workdesc{
    font-size: 16px !important;
}

.home-container{
    height: 100%;
    background-image: url('../img/home-dark.jpg') !important;
    background-size: cover !important;
}
.no-display{
display: none !important;
}

.show-display{
    display: block !important;
}

body{
    /* font-family: Montserrat; */
    margin: 0 !important;
    
}

.container{
    /* overflow-y:  scroll; */
}
.home{
  padding: 0 !important;
}
@media screen and (min-width: 767px) {
  .parrent-conatiner {
    display: flex;
    flex-flow: row;
  }
}
@media screen and (max-width: 1000px) {
.main-navigation {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin: 20px -40px 0;
}
.main-navigation {
    margin: 45px -40px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}

}