/* .header{
    flex:  1 2 20%;
    display: flex;
    flex-flow: column;
} */

.imgav{
    margin: auto;
}

.profilePic{
    margin-top: 20px ;
}
.timeline-time{
    padding:  15px 15px 15px 0px;
}

.header-class {
    position: fixed;
    width: inherit;
    height: inherit;
}
.nav-mobile {
    display: none;
    }
.nav-link {
    /* line-height: 50px !important; */
    
    padding: 10px 10px !important;
} 
.nav-link:last-child {
    padding: 10px 10px 0 10px!important;
} 

.nav-menu-item {
    /* height: 40px !important; */
/* padding: 12px 0 12px 30px !important; */
}
/* @media screen and (min-width: 801px) {
    .header-desktop{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .header-desktop{
        display: none !important;
    } */
/* } */
@media only screen and (min-width: 760px){
.header-desktop {
       display: flex !important;  

}

.header-mobile {
    display: none !important;
} 
}

@media only screen and (max-width: 767px){

    .menu_list{
        padding: 10px 10px 10px 0px;
        border-bottom: 1px solid black;
    }

    .mobile_nav_top{
        display: flex;
        height: 50px;
    }

.mobile_nav_left{
    float: left;
    display: flex;
    margin: auto !important;
    flex-flow: row;
     padding: 5px 0px 5px 20px !important; 
    flex: 1 2 60%;
}
.mobile_nav_right{
    float: right;
    display: flex;
    margin: auto !important;
    flex-flow: row;
    justify-content: flex-end;
     padding: 5px 15px 5px 0px !important; 
    flex: 1 2 40%;
}
 .header-desktop {
        display: none !important;    
 }
 #menu #list {
    list-style: none;
    max-height: 0 !important;
    margin-top: 0 !important;
    padding-left: 20px !important;
    margin-bottom: 0 !important;
    transition: max-height 0.2s ease-out !important;
    overflow: hidden !important;
    /* background: #d5d5d5 !important; */
}

#menu.on #list {
list-style: none;
padding-left: 20px !important;
    max-height: 500px !important;
    transition: max-height 0.5s ease-in !important;
}
 .header-mobile  {
     display: block !important;
     padding: 0 !important;

 } 
 
    .ui.menu {
        border: none !important;
    }
    
    .ui.vertical.menu .item {
        border-top: 1px solid rgba(34,36,38,.15) !important;
        /* padding-top : 0  !important; */
        padding: 0 !important;
       
    }
    
    .ui.list>.item a.header {
        color: black !important;
    }
    
    #nav{
        -webkit-transition: all 1s linear 0s;
      transition: all 1s linear 0s;
      /* transition-delay: 3s; */
      height: 50px;
    }
    
    #nav.on{
        transition-delay: 0.1s;
       height: 0 !important; 
    }
    .ui.container{
margin-right: 0 !important;
    }
.ui.grid>.row {
   padding-top: 0 !important; 
   padding-bottom: 0 !important;
  }
}

